html
{
    scroll-behavior: smooth;
}

body
{
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #f7f7f7;

    /* background-color: #323643; */

    background: linear-gradient(66deg, #FC466B 0%, #3F5EFB 100%);

    background: linear-gradient(66deg, rgba(168,216,234,1) 14%, rgba(170,150,218,1) 48%, rgba(252,186,211,1) 91%);
    background: linear-gradient(66deg, rgba(231,231,222,1) 0%, rgba(0,136,145,1) 33%, rgba(0,88,122,1) 67%, rgba(15,48,87,1) 100%);
    background: linear-gradient(66deg, rgba(255,174,143,1) 8%, rgba(255,103,125,1) 36%, rgba(205,102,132,1) 60%, rgba(111,90,126,1) 95%);
}

h2
{
    text-shadow: 4px 4px 10px black;
}

a
{
    color: #f7f7f7;
}

a:hover, a:active
{
    /* color: #606470; */
    color: #f7f7f7;
    text-decoration: none;
}

em
{
	font-style: italic;
	font-weight: bold;
}

footer
{
    font-size: 16px
}

.large-text
{
	font-size: 48px;
}

.logo-text
{
    display: inline-flex;
    vertical-align: middle;
    white-space: pre;
}

.centered
{
    display: block;
    margin: auto;
}

.container, .container-fluid
{
    max-width: 1200px;
}

.container-fluid
{
    height: 100%;
}

.flex-fill
{
    flex: 1 1 auto;
}

#top > .row
{
    min-height: 100vh;
}

.project_img
{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    /* -webkit-filter: brightness(100%); */
    /* filter: brightness(100%); */
}

.project_text
{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project:hover .project_img
{
    -webkit-filter: blur(6x);
    filter: blur(6px) ;
}

.project:hover .project_text
{
    opacity: 1;
}


/* Google Material Icons */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

