body
{
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
	color: #f7f7f7;
	background-color: #323643;
}

a
{
    color: #f7f7f7;
}

em
{
	font-style: italic;
	font-weight: bold;
}

footer
{
    font-size: 16px
}

.large
{
	font-size: 48px;
}

.container, .container-fluid
{
    max-width: 1200px;
}

.container-fluid
{
    height: 100%;
}

.flex-fill
{
    flex: 1 1 auto;
}

#top > .row
{
    min-height: 100vh;
}

/* Google Material Icons */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
